.todoList {
	padding: 10px;
	margin-bottom: 10px;
	background: #f9f9f9;
	border-radius: 3px;
	border-bottom: 2px dotted grey;
}

.taskContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.taskTitle {
	white-space: nowrap; /* Предотвращает перенос текста на новую строку */
	overflow: hidden; /* Скрывает текст, который выходит за пределы контейнера */
	text-overflow: ellipsis; /* Добавляет многоточие (...) в конце обрезанного текста */
}

.navLink {
	text-decoration: none; /* Убираем подчёркивание ссылки */
	color: inherit; /* Используем цвет текста, унаследованный от родительского элемента */
}
