.todoTitle {
	font-family: 'Indie Flower';
	text-align: center;
	font-size: 48px;
	margin: 0 0 20px;
}

.todoList {
	padding: 10px;
	margin-bottom: 10px;
	background: #f9f9f9;
	border-radius: 3px;
	border-bottom: 2px dotted grey;
}

.taskContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.taskContainer input[type='text'] {
	flex: 1;
	padding: 10px;
	font-size: 16px;
	border: none; /* Убираем стандартную рамку */
	outline: none; /* Убираем стандартный outline */
	background-color: #f9f9f9; /* Фоновый цвет */
	color: #666666; /* Серый цвет текста */
	border-radius: 3px; /* Закругленные углы */
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Тень для эффекта поднятия */
}

.buttonContainer {
	display: flex;
	gap: 5px;
}
