.todoTitle {
	font-family: 'Indie Flower';
	text-align: center;
	font-size: 48px;
	margin: 0 0 20px;
}

.todoList {
	padding: 10px;
	margin-bottom: 10px;
	background: #f9f9f9;
	border-radius: 3px;
	border-bottom: 2px dotted grey;
}
